.movie-container {
  font-size: 18px;
}

.nav-login-logout {
  display: none;
}

.movie-title-container {
  margin-bottom: 20px;
}

.movie-title-container h1 {
  width: 647px;
  height: 65px;
  margin-left: 40px;
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.015em;
  color: #ffff;
  line-height: 25px;
  letter-spacing: -0.015em;
}

.link-movies h6 {
  width: 397px;
  height: 33px;
  margin-left: 40px;
  margin-top: 213px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #ffff;
}

@media (min-width: 576px) {
  .movie-container {
    font-size: 30px;
  }
  
}


