.admin-conatiner{
    display: flex;
    flex-direction: column;
}


.admin-content{
    padding: 20px;
}
.nav-login-logout {
    display: none;
    border-color: none;
  }

  @media(min-width: 576px){
    .nav-login-logout {
        display: unset;
      }
  }

@media(min-width: 1200px){
    .admin-conatiner{
        flex-direction: row;
    }

    .admin-content{
       flex: 1;
    }    
}